<!DOCTYPE html>
<html>
<head>
	<title>FixNix Audit Manageemnt -- Dashboard</title>
</head>
<body>
	<!-- Rendering menu  -->
	<%= render :partial => "layouts/menu" %>

	<!-- Dashboard  -->
	<div id="dashboard-container">

		<!-- Dashboard Right Section -->
		<div id="dashboard-right">
			
		</div>
		<!-- End of Right-->

		<!-- Dahboard Center Section -->
		<div id="dashboard-center">
			
		</div>
		<!-- End of Center -->

		<!-- Dashboard Left Section -->
		<div id="dashboard-left">
			
		</div>
		<!-- End of Left -->

	</div>
	<!-- End of dashboard -->
</body>
</html>