<html>
<head>
	<title>Calendar</title>
	<script type="text/javascript">
	$(document).ready(function(){
		$('#calendar').fullCalendar({
			height: 650,
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay'
			},
			buttonIcon: {
				prev: 'circle-triangle-w',
    			next: 'circle-triangle-e'
			},
			buttonText: {
				month: 'Month',
				agendaWeek: 'Week',
				agendaDay: 'Day',
				today: 'Today'
			},
			firstDay: 1, 
			isRTL :false,
			// hiddenDays : [0,6],
			weekMode : 'variable',
			weekNumbers : false,
			handleWindowResize :true,
			allDaySlot: true,
			allDayText: 'Today',
			year: 2015,
			month: 3

		});
	});
	</script>
</head>
<body>

	<!-- Rendering menu  -->
	<%= render :partial => "layouts/menu" %>

	<!-- Calendar Section -->
	<div id='calendar'>
	</div>
	<!-- End of Calendar -->

</body>
</html>