<!DOCTYPE html>
<html>
<head>
	<title>FixNix Audit Management -- Pre audit </title>
</head>
<body>

	<!-- Rendering menu  -->
	<%= render :partial => "layouts/menu" %>

	<!-- Link for Adding new Audit -->
	<%= link_to 'New Department', new_department_path %>

</body>
</html>