// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#dashboard-container
{
	float:left;
	width:100%;
	padding: 0px;
}

#dashboard-right
{
	float:left;
	width:30%;
}

#dashboard-center
{
	float:left;
	width:30%;	
}

#dashboard-left
{
	float:left;
	width:30%;
}
