<!DOCTYPE html>
<html>
<head>
	<title>FixNix Audit Management -- Pre audit </title>
</head>
<body>

	<!-- Rendering menu  -->
	<%= render :partial => "layouts/menu" %>

	<!-- Rendering Form for creating new audit -->
	<%= render 'form' %>

</body>
</html>