<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
<!-- Logo/Company Name -->
	<div class="navbar-header">
		<a href="#" class="navbar-brand">FixNix Audit Management</a>
	</div>
<!-- End of Logo/Company Name -->


<!-- Menu Division  -->
	<div>
		<ul class="nav navbar-nav">
<<<<<<< HEAD

			<li><a href="/dashboard">Dashboard</a></li>
			<li><a href="/calendar">Calendar</a></li>
=======
			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Calendar</a></li>
			<li><a href="#">My Tasks</a></li>
>>>>>>> menu
			<li><a href="#">Pre audit</a></li>
			<li><a href="#">Audit Investigation</a></li>
			<li><a href="#">Post Audit</a></li>
			<li><a href="#">Report</a></li>
			<li><a href="#">Settings</a></li>
		</ul>
	</div>
<!-- End of Menu Division  -->

</div>
</nav>