<nav class="navbar navbar-default" role="navigation">
<div class="container-fluid">
<!-- Logo/Company Name -->
	<div class="navbar-header">
		<a href="#" class="navbar-brand">FixNix Audit Management</a>
	</div>
<!-- End of Logo/Company Name -->


<!-- Menu Division  -->
	<div>
		<ul class="nav navbar-nav">

			<li><a href="#">Dashboard</a></li>
			<li><a href="#">Calendar</a></li>
			<li><a href="#">My Tasks</a></li>
			<li><a href="#">Pre audit</a></li>
			<li><a href="#">Audit Investigation</a></li>
			<li><a href="#">Post Audit</a></li>
			<li><a href="#">Report</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
        <li><a href="#"></a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">User Management</a></li>
            <li><a href="#">Preferences</a></li>
            <li class="divider"></li>
            <li><a href="#"></a></li>
          </ul>
        </li>
      </ul>
	</div>
<!-- End of Menu Division  -->

</div>
</nav>